.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  display: block;
  background-color: #8aaae5;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.container form label {
  display: block;
  font-size: 25px;
}

.container form input {
  display: block;
  margin: 20px auto 60px auto;
  width: 10%;
  padding: 20px;
}

.container form button {
    font-size: 30px;
}

.finalcontainer {
    font-size: 60px;
}